.app-component {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-page {
    width: 100vw;
    display: flex;
    height: 100vh;
    align-items: center;
}

.form_error{
    color: red;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

h1 {
	font-weight: bold;
	margin: 0;
}

.group {
    width: 100%;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.group.button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    border-radius: 10px;
    border: 4px solid #645e9d;
    background-color: #ffffff;
    color: #645e9d;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:hover {
    background-color: #645e9d;
    color: #ffffff;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
    justify-content: space-evenly;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
    position: relative;
    overflow: hidden;
    width: 400PX;
    max-width: 100%;
    min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 100%;
	z-index: 2;
}

@media (max-width: 425px) {

    .container{
        max-width: 75%;
        min-height: 400px;
        font-size: 13px;
    }

    form {
        padding: 0 20px;
    }

    h1 {
        font-size: 20px;
    }

    a {
        font-size: 11px;
    }
}