<div class="login-page">
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && loginUser()">
                <h1>Se connecter</h1>
                <div class="group">
                    <input placeholder="Email" type="text" name="email" id="email" [(ngModel)]="form.email"
                        #email="ngModel" required>
                    <div class="form_error" *ngIf="email.errors && f.submitted">
                        Email is required !
                    </div>
                </div>
                <div class="group">
                    <input placeholder="Password" type="password" name="password" id="password"
                        [(ngModel)]="form.password" #password="ngModel" required>
                    <div class="form_error" *ngIf="password.errors && f.submitted">
                        Password is required !
                    </div>
                </div>
                <a href="#">Mot de passe oublié ?</a>
                <div class="group button">
                    <button>Connexion</button> <a href="" [routerLink]="['../register']">Vous n'avez pas de compte? Inscrivez-vous !</a>
                </div>
            </form>
        </div>
    </div>
</div>