<div class="posts-fil">
    <div *ngFor="let post of posts; let index = index;" class="post">
        <div class="post-entete">
            <div class="post-title">
                <a href=" 'posts.show', $post->id ">
                    {{post.title}} - {{post.user.name}} - {{post.created_at | date:'longDate'}}
                </a>
            </div>
            <div [ngSwitch]="post.rating_id" class="post-rating">
                <div *ngSwitchCase="1" class="circle red"></div>
                <div *ngSwitchCase="2" class="circle orange"></div>
                <div *ngSwitchCase="3" class="circle yellow"></div>
                <div *ngSwitchCase="4" class="circle green"></div>
                <div *ngSwitchCase="5" class="circle blue"></div>
            </div>
        </div>
        <div class="post-content">
            <div *ngIf="index % 2 == 0; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
                <div class="post-body">
                    <p>{{post.body}}</p>
                </div>
                <div class="line-syraty"> </div>
                <div class="post-image fill" style="background-image: url({{path}}/{{post.image}});">
                </div>
            </ng-template>
            <ng-template #elseBlock>
                <div class="post-image fill" style="background-image: url({{path}}/{{post.image}});">
                </div>
                <div class="line-syraty"> </div>
                <div class="post-body">
                    <p>{{post.body}}</p>
                </div>
            </ng-template>
        </div>
    </div>
    <img class="navigationImg" src="{{assetPath}}/navigation.png" alt="bvbv">
</div>