.search-component {
    background-color: white;
}

.search-container {
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    box-shadow: 0em 0em 5px 0 #939393;
    background-color: #ffffff;
}

.searchForm {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #474a2c;
    font-weight: 600;
}

.searchForm .form-group {
    display: flex;
    flex-direction: column;
    margin: 0 1em;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.searchForm .form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #b0e298;
    outline: 0;
    box-shadow: 0 0 0 3px rgb(176 226 152);
}

.searchForm button.search-button {
    border-color: #645e9d;
    color: #645e9d;
    font-weight: 600;
    margin: 0 1em;
}

.searchForm button.search-button:hover {
    border-color: #ffffff;
    background-color: #645e9d;
    color: white;
}

app-search-form {
    background-color: white;
}

@media (max-width: 425px) {
    .search-component {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .searchForm {
        flex-direction: column;
        align-items: stretch;
    }

    .searchForm .form-group {
        margin: 0.5em 0;
    }

    .searchForm button.search-button {
        margin: 0.5em 0;
    }
}