<div class="sidebar" style="width: 280px;">
    <a href="/" class="img">
        <img class="logoImg" src="{{assetPath}}/logosyraty.png" alt="bvbv">
    </a>
    <ul class="nav-list">
        <div class="app-section">
            <li class="nav-li">
                <div *ngIf="this.page == 'home'; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>
                    <a class="nav-a active" aria-current="page" [routerLink]="['home']"
                        (click)="setPageImIn('home'); getPageImIn()">
                        Home
                    </a>
                </ng-template>
                <ng-template #elseBlock>
                    <a class="nav-a" [routerLink]="['home']" (click)="setPageImIn('home'); getPageImIn()">
                        Home
                    </a>
                </ng-template>
            </li>
            <li class="nav-li">
                <div *ngIf="this.page == 'othersPost'; then thenBlock1 else elseBlock2"></div>
                <ng-template #thenBlock1>
                    <a class="nav-a active" aria-current="page" [routerLink]="['othersPost']"
                        (click)="setPageImIn('othersPost'); getPageImIn()">
                        Les autres
                    </a>
                </ng-template>
                <ng-template #elseBlock2>
                    <a class="nav-a" [routerLink]="['othersPost']" (click)="setPageImIn('othersPost'); getPageImIn()">
                        Les autres
                    </a>
                </ng-template>
            </li>
            <div *ngIf="checkIfConnected == true; then thenBlock9"></div>
            <ng-template #thenBlock9>
                <li class="nav-li">
                    <!-- <ng-template #thenBlock7> -->
                        <div *ngIf="this.page == 'posts'; then thenBlock3 else elseBlock4"></div>
                        <ng-template #thenBlock3>
                            <a class="nav-a active" aria-current="page" [routerLink]="['posts']"
                                (click)="setPageImIn('posts'); getPageImIn()">
                                Ma bio
                            </a>
                        </ng-template>
                        <ng-template #elseBlock4>
                            <a class="nav-a" [routerLink]="['posts']" (click)="setPageImIn('posts'); getPageImIn()">
                                Ma bio
                            </a>
                        </ng-template>
                    <!-- </ng-template> -->
                </li>
            </ng-template>
        </div>


        <div class="user-section">
            <div *ngIf="checkIfConnected == true; then thenBlock7 else elseBlock8"></div>
            <ng-template #thenBlock7>
                <li class="nav-li">
                    <div *ngIf="this.page == 'dashboard'; then thenBlock5 else elseBlock6"></div>
                    <ng-template #thenBlock5>
                        <a class="nav-a active" aria-current="page" [routerLink]="['dashboard']"
                            (click)="setPageImIn('dashboard'); getPageImIn()">
                            Profil
                        </a>
                    </ng-template>
                    <ng-template #elseBlock6>
                        <a class="nav-a" [routerLink]="['dashboard']" (click)="setPageImIn('dashboard'); getPageImIn()">
                            Profil
                        </a>
                    </ng-template>

                </li>
                <li class="nav-li">
                    <a class="nav-a deconnexion button" (click)="logout()">
                        Deconnexion
                    </a>
                </li>
            </ng-template>
            <ng-template #elseBlock8>
                <a class="nav-a connexion button" aria-current="page" [routerLink]="['login']"
                    (click)="setPageImIn('login'); getPageImIn()">
                    Connexion
                </a>
            </ng-template>
        </div>
    </ul>
</div>