.home-component {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.example-container {
    width: 90%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-container {
    padding: 1.5em 3em;
    margin: 1em;
    box-shadow: 0 0 7px #acacac;
    border-radius: 10px;
}

.img-container {
    padding: 1em;
    margin: 1em;
    display: flex;
    justify-content: center;
}
img.exempleImg {
    width: 42%;
}
.button-container {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
button.button {
    border-radius: 0.3em;
    box-shadow: none;
    padding: 0.5em 2em;
    font-weight: 600;
    background-color: white;
}

button.login {
    color: #645e9d;
    border: solid 3px #645e9d;
}
button.login:hover {
    background-color: #645e9d;
    color: white;
}

button.discover {
    color: #b0e298;
    border: solid 3px #b0e298;
}
button.discover:hover {
    background-color: #b0e298;
    color: white;
}

.container.my-5 {
    margin: 0 !important;
    width: 90%;
}

@media (max-width: 425px) {

    .example-container {
        font-size: 13px;
    }

    .text-container {
        padding: 1em 1em;
        margin: 0;
    }

    .example-container {
        width: 100%;
    }

    .img-container {
        margin: 1em 0;
    }

    img.exempleImg {
        width: 100%;
    }

    .button-container{
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
        align-items: center;
    }

    button.button {
        width: 100%;
        margin: 0.5em;
        padding: 0.5em;
    }
}