<div class="home-component">
    <div class="example-container">
        <div class="text-container">
            <h1 class="title" style="color:#b0e298;"><strong style="color:#645e9d;">Syraty</strong> - Racontez votre histoire</h1>
            <p class="text">Transformez chaque jour en un chapitre mémorable de votre vie. <br> Avec <strong style="color:#645e9d;">Syraty</strong>, écrivez les pages de votre biographie, un journal personnelle qui capture les moments les plus précieux et les émotions les plus fortes. <br> Partagez vos récits inspirants ou gardez-les en toute confidentialité, et revivez vos souvenirs à tout moment avec une simple recherche. <br> Devenez l'auteur de votre propre histoire, et laissez chaque jour de votre vie devenir un témoignage de votre évolution.</p>
        </div>
        <div class="img-container">
            <img class="exempleImg" src="{{assetPath}}/example.png" alt="bvbv">
        </div>
        <div class="button-container">
            <button type="button" class="login button" [routerLink]="['../login']">Se connecter</button>
            <button type="button" class="discover button" [routerLink]="['../othersPost']">Lire les Syrats</button>
        </div>
    </div>
</div>
